<h1 class="mb-5"><%= @task.title %></h1>

<div class="mb-2">
  <div class="p-2 bg-light border w-50"><%= @task.details %></div>
</div>


<div class="form-check mb-5">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    <%= @status %>
  </label>
</div>


<div><%= link_to 'Go back to task list', tasks_path  %></div>

